body{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto; 
    font-family: Arial,Helvetica,STHeiTi,sans-serif;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*头 */
#head{
    position: fixed;

    width: 100%;
    z-index: 9;
    height: 45px;
    /* border: 1px solid #000; */
    top: 0;
    min-width: 320px;
    max-width: 640px;
    background:#fff;
}
.head_lf{
    line-height: 45px;
    text-align: center;
    /* box-sizing: border-box; */
    float: left;
    width: 25%;
    /* border: 1px solid #000; */
    height: 100%;
    font-size: 18px;
    letter-spacing: 1px;
}
.head_rt{
    /* box-sizing: border-box; */
    float: left;
    width: 75%;
    height: 100%;
    /* border: 1px solid #000; */
}
.search{
    height: 28px;
    margin:8px  12px 0 12px;
    border-radius: 18px;
    /* border: 1px solid #000; */
    background-color: #F7F7F7;
    position: relative;

    
}
.search input{
    position: absolute;
    height: 24px;
    left:33px;
    width: 85%;
    border-radius: 18px;
    outline: none;
    border: 1px solid #F7F7F7;
    background-color: #F7F7F7;
    color: #75758B;
}
.sou{
    position: absolute;
    width: 18px;
    height: 15px;
    top: 5px;
    left: 15px;
}

.sou img{    
    width: 20px;
    height: 20px;
}

/* 主体框架 */
#content{
    top: 45px;
    width: 100%;
    display: flex;
    height: 100vh;
    position: fixed;
    min-width: 320px;
    max-width: 640px;
    /* border: 1px solid #f00; */
}
.content_lf{
    background-color: #F9F9F9;
    /* box-sizing: border-box;
    border: 1px solid #000; */
    float: left;
    width: 25%; 
    overflow-y: scroll;
    color: #666666;


}
.content_lf  .lf span{
    font-size: 14px;
    display: block;
    padding: 0 10px;


}
.content_lf  .lf .cur{
background-color:#fff;
font-weight: bold;
color: #000;
    
}
.content_rt{
    /* box-sizing: border-box;
    border: 1px solid #000; */
    float: left;
    width: 75%; 
    overflow-y: scroll;
    
}

.content_lf ul{
    padding: 0;
    margin: 0;
}
.content_lf li{
    width: 100%;
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 50px;
}
.content_rt ul{
    padding: 0;
    margin: 0;
}
.content_rt li{
    width: 100%;
    /* border: 1px solid #000; */
    text-align: center;
    line-height: 50px;
}
.content_rt .show{
    display: none;
}
/* 主体内容 */
.content_rt .fi{
    background-color: #fff;
    position: fixed;
    top: 45px;
    z-index: 9;
    width: 70%;
    min-width: 240px;
    max-width: 450px;
    
}
.content_rt .fi img{

    border-radius: 15px;
    display: block;
    
    margin-left: 5%;
    margin-top: 4px;
    width: 90%;
}
.fmain{
    margin-top: 35%;
    width: 100%;
    /* border: 1px solid #000; */
}
.fmain .h h2{
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 33px;

}
.fmain .main a{
    margin-top: 5px;
    /* box-sizing: border-box;
    border: 1px solid #000; */
    width: 30%;
    float: left;
    /* display: flex; */
}
.fmain .main span{
    line-height: 20px;
    margin-top: 5px;
    display: block;
    text-align: center;
    height: 20px;
    font-size: 2vw;
    color: #666666;
}
.fmain .main img{
    width: 80%;
    vertical-align: middle;
}




.fmains{
    margin-top: 5px;
    width: 100%;
    /* border: 1px solid #000; */
}
.fmains .h h2{
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 33px;

}
.fmains .main a{
    margin-top: 5px;
    /* box-sizing: border-box;
    border: 1px solid #000; */
    width: 30%;
    float: left;
    /* display: flex; */
}
.fmains .main span{
    line-height: 20px;
    margin-top: 5px;
    display: block;
    text-align: center;
    height: 20px;
    font-size: 2vw;
    color: #666666;
}
.fmains .main img{
    width: 80%;
    vertical-align: middle;
}


















/* 底部导航栏 */
.footer{
    max-width:640px;
    min-width: 320px;
    box-sizing: content-box;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 199;
    border-top: 1px solid #EEE;
    background: #FFF;
    transition: all .2s cubic-bezier(0, 0, 1, 1.16);
}

.footer a{
    float: left;
    display: block;
    width: 20%;
}
.footer a img{
    padding-left: 26%;
    width: 48%;
    vertical-align: middle;
}
.footer a span{
    display: block;
    text-align: center;
    font-size: 12px; 
    color: #030303;
    font-weight: bold;
}